.modal-stories-container {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: var(--white);
    backdrop-filter: blur(8px);
    box-sizing: border-box;
    padding: 0 3.68055555%;
    z-index: 10000;
    border: none;

    .modal-stories-content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        min-width: 100%;
        height: 100%;

        .modal-stories-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 116px;

            .nav-title {
                display: flex;
                align-items: center;
                gap: 20px;
                height: 100%;
                width: 10%;
                max-width: 10%;
                min-width: 10%;

                .logo {
                    display: flex;
                    width: fit-content;
                    height: fit-content;

                    svg {
                        width: 17px;
                        height: 17px;
                    }
                }

                .text {
                    display: flex;
                    width: fit-content;
                    height: fit-content;
                    padding-top: 5px;

                    svg {
                        height: 20px;
                    }
                }

                svg {
                    path {
                        fill: var(--black);
                    }
                }
            }

            .story-item-container {
                min-width: 63px !important;
                width: 63px !important;
                height: 63px !important;
                min-height: 63px !important;

                img {
                    width: 51px !important;
                    height: 51px !important;
                    transform: translate(-50%, -50%) scale(1) !important;
                }
            }

            .all-story {
                display: flex;
                width: 100%;

                .selected {
                    transform: scale(1.2); /* Agrandit l'élément sélectionné */
                }

                .story-carousel {
                    min-width: 300px; /* Largeur des items du carousel-story */
                    margin: 0 10px; /* Espace entre les items */
                    transition: transform 0.3s ease-in-out;
                }
            }

            .modal-close-btn {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 10%;
                max-width: 10%;
                min-width: 10%;
                height: 116px;
                cursor: pointer;
                transition: color 0.2s ease-in-out;

                .close-btn {

                    &:hover {
                        cursor: pointer;
                        opacity: 0.7;
                    }

                    svg {
                        width: 15px;
                        height: 15px;
                        path {
                            fill: var(--black);
                        }
                    }
                }
            }
        }

        .story-modal-container {
            display: flex;
            flex-direction: column;
            height: calc(100% - 116px - 50px);
        }

        .modal-add-stories {
            position: absolute;
            bottom: 40px;
            right: 0;

            .add-stories {

                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }

                svg {
                    width: 33px;
                    height: 33px;

                    path {
                        fill: var(--black);
                    }
                }
            }
        }
    }
}

@keyframes modalContainerOpen {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes modalContainerClose {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.show-modal {
    animation: modalContainerOpen 0.3s ease-out forwards;
}

.hide-modal {
    animation: modalContainerClose 0.3s ease-out forwards;
}